div.parent{
  background-color: blueviolet;
}
@font-face {
  font-family: "papius";
  src: url(./5722736217.ttf);
}
*{
  font-family: "papius";
  font-size: 15px;
  /* font-weight: bold;
  font-style: italic; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#parent-id{
background-color: rgb(87, 6, 149);
max-width: 600px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 20px;
color: #ffffff;
border-radius: 20px;
box-shadow: 0px 0px 35px rgb(104, 46, 46);
display:flex;
flex-direction: column;
gap: 20px;
justify-content: center;
align-items: center;
}
.child{
  display:flex;
  flex-direction: column;
  gap: 15px;
  
}
.child div{
  display:flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}
input{
  padding: 10px;
  color: #000;
  border-radius: 20px;
  /* outline: none; */
  border: none;
  width: 300px;

}
textarea{
  padding: 10px;
  color: #000;
  border-radius: 20px;
  /* outline: none; */
  border: none;
  width: 300px;
}
select{
  padding: 10px;
  color: #000;
  border-radius: 20px;
  /* outline: none; */
  border: none;
  width: 300px;
}
